@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: #1e2729;
    --foreground: #f4f6f5;

    --card: #1f2626;
    --card-foreground: #ffffff;

    --popover: #1f2626;
    --popover-foreground: #ffffff;

    --primary: #94cdd6;
    --primary-foreground: #3b3b3b;

    --secondary: #2b3a36;
    --secondary-foreground: #ffffff;

    --muted: #2b3a36;
    --muted-foreground: #9aa7a2;

    --accent: #334742;
    --accent-foreground: #ffffff;

    --destructive: #dc2626;
    --destructive-foreground: #ffffff;

    --border: #334742;
    --input: #334742;
    --ring: #4fa897;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0f1a17;
    --foreground: #ffffff;
  }
}

@layer base {
  html,
  body {
    @apply h-full bg-background text-foreground;
  }

  #root {
    @apply min-h-screen;
  }

  * {
    @apply border-border;
  }
}
